


*,p,h1,h3,span{
    font-family: 'Nunito', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(74 74 74);
    font-weight: bold;
}

header{
    box-shadow: 2px 2px 2px #0000ff1a;
}

.card{
    border-radius: 0.66rem;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  text-align: center;
}

.img-container:hover .overlay {
  opacity: 1;
}